<h1>Stupid Coaching</h1>
<p>Ask your coach anything:</p>
  <!-- action specifies the URL that will be used when submitting the form -->
  <form action="/answer" class="form-inline">
    <input class="form-control" placeholder="Ask a question!" type="text" name="ask_question"> <!-- name enables you to name each parameter  -->
    <input type="submit" value="Ask!" class="form-control btn btn-primary">
  </form>
